/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #000000;
  background-image: url(../img/fondo3.png);
  font-size: 16px;
}

a {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style: none;
}

h2{
  text-align: center;
}
h3{
  text-align: center;
  font-family: sans-serif;
  color: #0155E5;
}

.container {
  width: 90%;
  margin: auto;
}
p{
  text-align: center;
}

/* Navigation */
.nav-main1 {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 5px;
  background-image: url(../img/fondo3.png);
  

}
.nav-main2 {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 5px;

}
.nav-main1 a {
  display: inline-block;
  padding: 10px 30px;
  font-size: 26px;
  margin: 0 10px;
  transition: .5s ease all;
  text-decoration: none;
}
.nav-main1 form {
  display: inline-block;
  padding: 10px 30px;
  font-size: 26px;
  margin: 0 10px;
  transition: .5s ease all;
  text-decoration: none;
}
.nav-main1 a:hover {
  transform: translateY(18px);/* tranformar hacia abajo 18 pixeles */
  background-color: #54BBE3;
}

/* Navbar Left */
.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 10px;
}


hr {
  margin: 10px 0;
}

/* Responsive Button */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
  text-align: center;
}

/* Seccion de bienvenido */
.bienvenido {
  margin-bottom: 60px;
}

/* Seccion de bienvenido */
.subtitulo {
  font-size: 20px;
  color: #54BBE3;
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  z-index: 2; /* para que el subtitulo quede arriba del borde */
  text-transform: uppercase; /* transformar el texto en mayusculas */
  margin-bottom: 20px;
}

/* fondo de debajo de bienvenido */
.subtitulo span {
  background-color: #eaeaea;
  padding: 0 15px;
  z-index: 99;/* para que quede arriba de la linea que lo rodea a los laterales */
  position: relative;
}

/* linea que rodea el texto bienvenido */
.subtitulo::after {
  content: ""; /* vacio */
  display: inline-block;
  height: 2px;
  width: 100%;
  background: #54BBE3;
  position: relative;
  top: -29px;
  z-index: 1;
}



/* SHOWCASE */

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.banner1 {
  width: 100%;
  height: 300px;
  background: url("../img/fondo.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.banner1 h2,
.banner1 p {
  margin-bottom: 10px;

}

.banner1 .btn {
  margin-top: 20px;
  text-align: center;
}

.intro {
  margin: 50px;
}
.intro p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

/* News Cards */
.news-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 70px 0;
}

.news-cards img {
  width: 100%;
  height: 180px;
}

.news-cards h3 {
  font-size: 20px;
  margin: 10px 0;
}

.news-cards a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

/*estilos para las cartas de los videjouegos */
.card{
    margin: 0 auto;
    width: 70%;
    border:solid 2px;
    padding: 10px;

}
/*estilo para el texto de las cartas*/

.card-body{
    width: 70%;
    margin: 0 auto;

}

/*estilo para las imagenes de las cartas*/
.card-img-top{
    height: 100px;
    width: 10px;
    
}
.video{
  width: 850px;
  height: 500px;
}
/* Follow */
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3rem;
}

.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}


/* Mediaqueries */
@media screen and (max-width: 480px) {
  .news-cards {
    grid-template-columns: 300px;
  }
  .cards-banner-one .content,
  .cards-banner-two .content {
    width: 100%;
    padding: 60px 20px;
  }
  .footer-links .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-links .footer-container ul {
    text-align: center;
  }
  .nav-main1 a {
  display: inline-block;
  padding: 10px 30px;
  font-size: 15px;
  margin: 0 10px;
  transition: .5s ease all;
  text-decoration: none;
  width: 1%;
}
.nav-main1 form {
  display: inline-block;
  padding: 10px 30px;
  font-size: 8px;
  margin: 0 10px;
  transition: .5s ease all;
  text-decoration: none;
  width: 1%;
}
  .video{
    width:400px;
    height:250px;
}
